[Desktop Entry]
Encoding=UTF-8
Name=AppURL
Comment=Ejecuta App desde URL
Exec=/opt/main.bin %U
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
StartupNotify=true
